
* {
    box-sizing: border-box; 
    margin: 0; 
    padding: 0;
}

body {
    font-size: 18px;
   
    
}

section {
    padding: 4rem;

 
}

.container {
    width: 70%;
    margin: 0 auto;
    max-width: 90%;
    /* border: 2px solid black; */

}



@media screen and (min-width: 600px) {
 

}

@media screen and (min-width: 900px) {
  .hero-content {
  
    display: flex;
    gap: 4rem;
    align-items: center;
    background-color: lightgray;
      
  }

  .hero-text {
    flex: 1 1 70%;
    padding: 3rem;
   
    
  
  }

  .hero-text h1 {
    font-size: 4rem;
  }

  .hero-text p {
    font-size: 1.5rem;;
    margin-top: 30px;
    margin-bottom: 20px;
  }

  .hero-text button {
    font-size: 1em;

    padding: 1rem;
  
    font-weight: bold;
    
  }

  .here-image {
      flex: 1 1 30%;
      /* border: 2px solid black; */
      
  
  }

  .hero-image img {
    border: 8px solid orange;
    width: 100%; 
    height: auto;
    display: block;
    

  }

  .about-content {
    border: 2px solid black;
    display: flex;

  }


  .runs-content {
     border: 2px solid black;
    display: flex;
  }

  .gallery .container {
    border: 2px solid black;
    display: flex;
    flex-wrap: wrap;
  }




}
