
* {
    box-sizing: border-box; 
    margin: 0; 
    padding: 0;
}

body {
    font-size: 18px;
 
}

img {
    width: 100%; 
    height: auto;
    display: block;
    object-fit: cover;
}

li {
  list-style: circle;
}

section {
    padding: 2rem;
    margin: 2rem;
}
.container {
    width: 90%;
    margin: 0 auto;
    max-width: 90%;
    
}

.hero-content {
  text-align: center;

}



.about-content {
  text-align: center;
}

.runs-content ul li {
  text-align: left;
}

.runs-text h2 {
  text-align: center;
}





@media screen and (max-width: 850px) {
 
  .hero-content, .hero-content p {
    padding: 1rem;

  }

  button {
    margin: 1rem;
  }

}

@media screen and (min-width: 900px) {


  .hero-content {
    display: flex;
    gap: 4rem;
    align-items: center;
    background-color: lightgray;
      
  }

  .hero-text {
    flex: 1 1 40%;
    padding: 3rem;
  }

  .hero-text h1 {
    font-size: 4rem;
  }

  .hero-text p {
    font-size: 1rem;;
    margin-top: 30px;
    margin-bottom: 20px;
  }

  .hero-text button {
    font-size: 1em;
    padding: 1rem;
    font-weight: bold;
    
  }

  .hero-image {
      flex: 1 2 70%;
  }

  .hero-image img {
    width: 100%; 
    height: auto;
    display: block;
  }

  .about-content {
    display: flex;
    gap: 1rem;
    font-size: 1.2rem;
    align-items: center;
  }

  .about-text {
    flex: 1 1 70%;
    padding: 4rem;

  }

  .about-text p {
    padding-top: 20px;
  }

  .about-image {
    flex: 1 2 70%;
    height: 100%;
  }


  .runs-content {
    display: flex;
    align-items: center;

  }

  .runs-text {
    flex: 1 1 50%;
    padding: 4rem;
    font-size: 1.3rem;

  }

  .runs-text h2 {
    padding-top: 10px;
  }

  .runs-list li{
    margin: 25px;
  }

  .runs-image {
      flex: 1 1 50%;
      height: 100%;

  }


}
