
* {
    box-sizing: border-box; 
    margin: 0; 
    padding: 0;
}

body {
    font-size: 18px;
    
}

.container {
    width: 90%;
    margin: 0 auto;
    max-width: 70rem;
    /* border: 2px solid black; */

}

section {
    padding: 2rem;
}

@media screen and (min-width: 600px) {
 

}

@media screen and (min-width: 900px) {
  .hero-content {
    border: 2px solid black;
    display: flex;
    gap: 2rem;
    align-items: center;
      background-color: lightgray;
  }

  .hero-text {
    flex: 1 1 50%;
    padding: 3rem;
    /* margin: 4rem; */
  
  }

  .hero-text h1 {
    font-size: 4rem;
  }

  .hero-text p {
    font-size: 1.5rem;;
    margin-top: 30px;
    margin-bottom: 20px;
  }

  .hero-text button {
    font-size: 1em;

    padding: 1rem;
  
    font-weight: bold;
    
  }

  .here-image {
    max-width: 22rem;
  }

  .hero-image img {
    flex: 1 1 50%;
    max-width: 100%;
    /* max-height: 36rem; */
    width: 100%; 
    height: auto;
     display: block;
    

  }

  .about-content {
    border: 2px solid black;
    display: flex;

  }


  .runs-content {
     border: 2px solid black;
    display: flex;
  }

  .gallery .container {
    border: 2px solid black;
    display: flex;
    flex-wrap: wrap;
  }




}
